<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My First Suite">

    <test verbose="2" name="Test Basics 1">
        <classes>
            <class name="org.example.basics.Annotations1"/>
            <class name="org.example.basics.Annotation2"/>
        </classes>
    </test> <!-- Test -->

    <test verbose="2" name="Test Basics 2">
        <classes>
            <class name="org.example.basics.Annotations1"/>
        </classes>
    </test>
</suite> <!-- Suite -->